/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные, значения которых отличаются от тёмной темы */
  --cover-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --font-color: #353430;
  --decor-font-color: var(--font-color);
  --decor-color: var(--font-color);
  --dark-theme-decorator-display: none;
}



@media (prefers-color-scheme: light) {
  :root {
  --cover-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --font-color: #353430;
  --decor-font-color: var(--font-color);
  --decor-color: var(--font-color);
  --dark-theme-decorator-display: none;
  }
}